form {
    background: #ccc;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

label {
    font-size: 2em;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}


input[type="submit"]{
    padding: 1em;
    border: none;
    outline: none;
    background: #000;
    color: #fff;
    transition: 200ms ease;
    cursor: pointer;
 }

input[type="submit"]:hover{
    background: #fff;
    color: #000   
}

table {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

table thead {
    margin: 1em;
}
table tbody

tr, th, td{
    font-size: 1.2em;
    padding: 0.3em;
}
